html, body {
    min-height: 100vh;
    max-width: 100vw;
    color: #EAF1F7;
    font-family: Roboto, sans-serif;
}

.social-icons a i {
    color: #EAF1F7;
}

.landing-page {
    background-color: #38577C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-page {
    min-height: 100vh;
}

.summary-page {
    background-color: #6F9ABC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-header {
    font-size: 3em;
}

.tagline {
    font-size: 1.75em;
}

.project-page {
    background-color: #A6C4E0;
}

.project-iframe {
    width: 100%;
    height: 100%;
}

#project1 {
    height: inherit;
    min-height: 100vh;
}

#project1-row {
    min-height: 100vh;
}

.project-header {
    font-size: 3em;
    font-family: Limelight, cursive;
}

.project-technologies {
    font-size: 2.5em;
}

.project-technologies i {
    padding: 0 10px;
}

.project-description {
    color: #38577C;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project2 {
    height: inherit;
    min-height: 100vh;
}

#project2-row {
    min-height: 100vh;
}

.project-page2 {
    background-color: #6F9ABC;
}

#project2-row .project-description {
    color: #EAF1F7;
}

.footer {
    position: relative;
    padding-top: 10px;
    background-color: #38577C;
    max-width: 100vw;
    z-index: 98;
}

.contact-info{
    width: 100%;
    font-size: 1.1em;
    color: #EAF1F7;
}

.contact-info:hover {
    color: #6F9ABC;
}

.next-section {
    position: fixed;
    bottom: 0;
    left: 50vw;
    font-size: 4em;
    color: #EAF1F7;
    animation: bounce 1.5s;
    animation-iteration-count: infinite;
    z-index: 97;
}

.next-section:hover {
    color: #EAF1F7;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    40% {transform: translateY(20px);}
    60% {transform: translateY(20px);}
    100% {transform: translateY(0);}
}
@media screen and (max-width: 480px){
    html {
        font-size: .75em;
    }
    
    #summary {
        text-align: left;
    }
}